<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/personalinformation">Get personal information from all users.</a><br /><br />
    <a href="/personalinformation/1">Get personal information from one user.</a><br /><br />
    <a href="/financialinformation">Get personal and financial information from all users.</a><br /><br />
    <a href="/financialinformation/1">Get personal and financial information (all accounts) from one user.</a><br /><br />
    <a href="/financialinformation/1/1">Get personal and financial information (one account) from one user.</a>
  </body>
</html>
