<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>All Users:</h2>
    <a href="/userinformation">Get the personal information from all users.</a><br /><br />
	<h2>One User:</h2>
    <a href="/userinformation/1">Get the personal information from one user.</a><br /><br />
  </body>
</html>
