<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/personal">Get personal information from all users.</a><br /><br />
    <a href="/personal/1">Get personal information from one user.</a><br /><br />
    <a href="/personalfinancial">Get personal and financial information from all users.</a><br /><br />
    <a href="/personalfinancial/1">Get personal and financial information (all accounts) from one user.</a><br /><br />
    <a href="/personalfinancial/1/1">Get personal and financial information (one account) from one user.</a><br /><br />
    <a href="/hardinquiries">Get all hard inquiries from all users.</a><br /><br />
    <a href="/hardinquiries/1">Get all hard inquiries from one user.</a>
  </body>
</html>
