body {
  background-image: url('../images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #7791AC;
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
	font-size: 40px;
	color: #3D3B3B;
}

a {
	color: #595757;
	font-size: 18px;
	padding: 10px 0;
	text-decoration: none;
}

a:hover {
	color: #444242;
}