body {
  margin: 0 auto;
}

/* Fonts */

.center {
  text-align: center;
}

/* Flexbox */

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-4 {
  flex: 4;
}

/* Navigation */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-link {
  display: inline-block;
}

/* Credit Factors */

.box {
  height: 200px;
  text-align: center;
}

.text-appearance {
  background: none;
  border: none;
  font-size: 14px;
}

*:focus {
  outline: none;
}

/* My Account */

.profile-info {
  display: block;
}