/* Fonts */

h2 {
  text-align: center;
}

/* Flexbox */

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-4 {
  flex: 4;
}

/* Navigation */

ul {
  list-style: none;
}

.nav-link {
  display: inline-block;
}

/* Dashboard */

.dashboard {

}

/* Credit Score */

.credit-score {
  
}

/* Credit Factors */

.credit-factors {

}

/* Credit Age */