@import url('https://fonts.googleapis.com/css?family=El+Messiri|Quicksand');

body {
  margin: 0 auto;
  background: #e2e0e0;
}

/* Fonts */

.center {
  text-align: center;
}

h1 {
  margin: 10px 0 10px 20px;
  color: #111111;
  font-family: 'El Messiri', sans-serif;
}

h2 {
  margin: 20px;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

h3 {
  margin: 20px;
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
}

h4 {
  margin: 20px;
  font-size: 35px;
  font-family: 'Quicksand', sans-serif;
}

.blue {
  color: #0a72b2;
}

.red {
  color: #A30C01;
}

.green {
  color: #106815;
}

.yellow {
  color: #CCB108;
}

.purple {
  color: #3c076d;
}

.orange {
  color: #c14d09;
}

/* Flexbox */

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-4 {
  flex: 4;
}

/* Navigation */

a {
  text-decoration: none;
  color: #afa7a7;
  font-family: 'Quicksand', sans-serif;
}

a:hover {
  color: #dbdfe0;
}

ul {
  list-style: none;
}

.wrapper {
  display: block;
}

.navigation {
  background-color: #353131;
}

.nav-link {
  display: inline-block;
  padding: 8px 25px;
  font-size: 16px;
  
}

.nav-bottom {

}

/* Credit Score */

.credit-score {
  margin: 40px 5px 40px 40px;
  background: #f2f2f2;
  border-radius: 30px;
  text-align: center;
}

/* Credit Factors */

.credit-factors {
  margin: 40px 40px 40px 5px;
  background: #fcfcfc;
  border-radius: 30px;
}

.box {
  height: 200px;
  text-align: center;
}

.text-appearance {
  background: none;
  border: none;
  font-size: 14px;
}

*:focus {
  outline: none;
}

#credit-age {
  background: #f2f2f2;
  height: 400px;
}

#credit-card-use {
  background: #f2f2f2;
  height: 400px;
}

#derogatory-marks {
  background: #f2f2f2;
  height: 400px;
}

#hard-inquiries {
  background: #f2f2f2;
  height: 400px;
}

#payment-history {
  background: #f2f2f2;
  height: 400px;
}

#total-accounts {
  background: #f2f2f2;
  height: 400px;
}

/* My Account */

.profile-info {
  display: block;
}

/* Welcome */

.welcome_message {
  float: right;
}

/* Credit Card Use */

.ratio {
  font-size: 80px;
  font-family: 'Quicksand', sans-serif;
}

.factor-info {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

/* Footer */

.footer {
  padding: 15px;
}
